.dropdownLink {
  font-weight: 400;
  padding: 0.5rem;
  display: flex;

  &__link {
    font-size: 1.4rem;
    text-decoration: none;
    color: inherit;
    margin-right: 1rem;
    
    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    align-self: center;
  }
}