@import './variables';

.container {
  position:relative;
  display: flex;
}

.btn {
  height: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  color: $color-grey-dark-2;
  background: inherit;
  border: none;
  cursor: pointer;
  display: flex;

  &__text {
    align-self: center;
    padding-right: 0.5rem;
  }

  &__icon {
    align-self: center;
    font-size: 1rem;
    // transition: all 1s ease;
    // &:active {
    //   transform: rotate(180deg);
    // }
  }
  &:hover {
    text-decoration: underline;
  }
}

.clearLink {
  align-self: center;
  color: $color-blue-1;
  cursor: pointer;
  font-size: 1.4rem;
  margin-left: 2rem;
  
  &:hover {
    color: $color-blue-2;
    text-decoration: underline;
  }
}

.dropdown {
  position: absolute;
  width: 30rem;
  top: 4rem;
  transform: translateX(2%);
  background-color: $color-white;
  box-shadow: -1rem 2rem 6rem rgba(black, 0.2);
  padding: 1rem;
  display: flex;

  &__list {
    flex: 1;
    list-style-type: none;
  }
}

.dropdownHeading {
  font-weight: 400;
  padding: 0.5rem;
  
  &__title {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    text-decoration: underline;
  }
}

