@import './variables';

.settingsForm {
  margin: 1rem auto;
  width: 80%;

  @media only screen and (min-width: $bp-smallest) {
    width: 35rem;
  }

  @media only screen and (min-width: $bp-medium) {
    padding: 0 1rem;
    margin: 1rem;
    font-size: 1.4rem;
  }

  &__btnContainer {
    padding-top: 1rem;
    width: 20rem;
  }
}